@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"); /*font-family: 'Inconsolata', monospace;*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); /*font-family: 'Montserrat', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap"); /*font-family: 'Kanit', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"); /*font-family: 'Lilita One', cursive;*/

body{
    background-color: aliceblue;
    color: rgb(30, 48, 80);
    font-family: 'Inconsolata', monospace;
}

#navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.navbar {
    color: rgb(0, 0, 0);
    z-index: 12;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.nc{
    background-color: rgba(189, 212, 237, 0.6);
}

.nc:hover{
    background-color: rgb(189, 212, 237, 1);
}

.li:hover {
    font-weight: bold;
}


.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.iconbg{
    background-color: white;
    box-shadow: 0 5px 5px rgba(141, 141, 141, 0.5);
    margin: 1vw;
}

.icon{
    padding: 1vh;
    margin: 0.5vh;
}

.title{
    font-family: 'Lilita One', cursive;
}

.fa{
    color: rgb(30, 48, 80);
}

.fa:hover{
    color: rgb(30, 48, 80, 0.6);
}

.fat{
    color: white;
    font-size: 4vh;
}

footer{
    margin: auto;
    background-color: rgb(183, 200, 219);
    padding: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: azure;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}