@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"); /*font-family: 'Inconsolata', monospace;*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); /*font-family: 'Montserrat', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap"); /*font-family: 'Kanit', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"); /*font-family: 'Lilita One', cursive;*/

.type{
    background-color: rgb(140, 160, 183, 1);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    text-align: center;
    display: inline-block;
    width: 35%;
    margin: 0.5vw;
    text-decoration: none;
    padding: 0.5vw;
}

.type:hover{
    background-color: rgb(140, 160, 183, 0.7);
}

.center{
    justify-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.pro{
    background-color: rgb(140, 160, 183, 1);
    color: rgb(255, 255, 255);
}

.web{
    background-color: rgb(255, 255, 255);
    border: none;
    text-decoration: none;
    color: rgb(140, 160, 183,);
    font-size: 1vw;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 0.65vw;
}

.web:hover{
    background-color: rgb(255, 255, 255, 0.8);
}

